@import 'parts/variables';
@import 'parts/containers';
@import 'parts/title';
@import 'parts/header';
@import 'parts/hero';
@import 'parts/about';
@import 'parts/sevice';
@import 'parts/rules';
@import 'parts/prices';
@import 'parts/hereme';
@import 'parts/vacancy';
@import 'parts/result';
@import 'parts/steps';
@import 'parts/advantages';
@import 'parts/faq';
@import 'parts/test';
@import 'parts/people';
@import 'parts/news';
@import 'parts/feedback';
@import 'parts/form';
@import 'parts/footer';
@import 'parts/media-queries';
@import 'parts/btnHover';
@import 'parts/leftToolbar';
@import 'parts/modal';


* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
html {
  width: 100%;
  height: 100%;
}