.footer {
  padding: 107px 0 50px 0;
  background: #261104;
  color: #ffffff;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  position: relative;
  z-index: 2;
}
.footer_left {

}
.footer_center {
  //padding: 92px 0 0 0px;
}
.footer_left-tel {
  padding: 18px 0 18px 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}
.footer_center-item-bold {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  padding: 0 0 20px 0;
}

.footer_left-mail {
  padding: 18px 0 18px 0;
}
.footer_left-graphic-vich {
  padding: 0 0 18px 0;
}
.footer_center-item {
  list-style: none;
  padding: 10px 0 10px 0;
  transition: all ease .2s;
  &:hover {
    cursor: pointer;
    color: var(--primaryColor);
    transition: all ease .2s;
  }
}
.footer_right-list {
  //padding: 100px 0 0 0;
}
.footer_right-item {
  list-style: none;
 padding: 10px 0 10px 0;
  &:hover {
    cursor: pointer;
    color: var(--primaryColor);
    transition: all ease .2s;
  }
}
.footer_line {
  border-bottom: 1px solid #FFFFFF;
  margin: 90px 0 40px 0;
}
.footer_bot-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
}
.footer_end-text {
padding: 40px 0 0 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  color: #5E5E5E;
}
.footer_bot-item a {
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    color: var(--primaryColor);
    transition: all ease .2s;
  }
}