.header {
  background: var(--lightText);
  padding: 15px 0 0 25px;
}
.header_menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 15px 0 0 0;
  margin: 0;
}

.header_menu-item {
  list-style: none;
  margin: 0 18px;
  & a {
    color: #000;
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-size: 16px;
    transition: all ease .2s;
    &:hover {
      transition: all ease .2s;
      color: var(--primaryColor);
    }
  }
  & input{
    margin: 0;
    border: none;
    border-bottom: 1px solid #261104;
    background: var(--lightText);
  }
  &:nth-child(1) {
    font-weight: 600;
    margin: 0 0 0 0;
  }
  &:nth-child(2) {
    font-weight: 600;
    margin: 0 124px 0 153px;
  }
}
.header_lope {
  position: relative;
  top: -6px;
  left: 195px;
  transition: all ease .4s;
  z-index: 5;
  &:hover {
    cursor: pointer;
  }
}
.header_search {
  position: absolute;
  outline: none;
  transition: all ease .1s;
}
.menu-burger {
  & span {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 3px;
    background: black;
    &:after {
      display: inline-block;
      content: '';
      position: absolute;
      width: 40px;
      height: 3px;
      background: black;
      top: -11px;
    }
    &:before {
      display: inline-block;
      content: '';
      position: absolute;
      width: 40px;
      height: 3px;
      background: black;
      top: -23px;
    }
  }
}
.d-nonen {
  display: none!important;
}