@media screen and(max-width: 1430px) {
  .header_menu-item:nth-child(2) {
    font-weight: 600;
    margin: 0 55px 0 77px;
  }
  .leftToolbar {
    border-right:none !important;

  }
  .service_title1:before {
    left: 0px;
  }
  .services500 {
    left: 0px;
  }
}
@media screen and(max-width: 1360px) {
  .vacancy_background {
    font-size: 150px;
  }
  .advantages_title:before {
    width: 357px;
  }
}
@media screen and(max-width: 1308px) {
  .header_menu-item:nth-child(2) {
    margin: 0 28px 0 77px;
  }
  .header_menu-item {
    list-style: none;
    margin: 0 15px;
  }
  //.swiper-container {
  //  width: 100%;
  //}
  //.slider-btn-left, .slider-btn-right {
  //  right: -8px;
  //}
  .leftToolbar {
    width: 70px!important;
  }
  //.people_slider-next span {
  //  left: -30px;
  //}
  //.people_slider-prev span {
  //  left: 17px;
  //}
}
@media screen and(max-width: 1254px) {
  .service_title1:before {
    left: 69px;
  }
  .service_title1:before {
    width: 131px;
  }
  .people_slider-prev span {
    left: -48px;
  }
  .people_slider-next span {
    left: 49px;
  }
}
// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
  .slider-btn-left, .slider-btn-right {
    right: -64px;
  }
  .slider-btn-left {
    bottom: 0px;
  }
  .slider-btn-right {
    bottom: 97px;
  }
  .faq_text {
    display: inline;
  }
  .footer_end-text {
    padding: 0 0 0 0;
  }
  .header_menu-item:nth-child(2) {
    margin: 0 17px 0 91px;
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 1071px) {
  .header_menu-item:nth-child(2) {
    margin: 0 17px 0 54px;
  }
  .hero_title {
    font-size: 60px;
    margin: 109px 0 0 0;
  }
  .header_menu-item {
    list-style: none;
    margin: 0px 10px;
  }
  .slider-btn-left, .slider-btn-right {
    width: 50px;
    right: -31px;
  }
}
@media (max-width: 992px) {
  .header_menu {
    display: flex;
    justify-content: space-between;
  }
  .service_title1:before {
    width: 257px;
  }
  .rules_ellipse {
    margin: 46px 0 0 0;
  }.services_end-block-item {
     margin: 0 0 30px 0;
   }
  .title {
    font-size: 30px;
    line-height: 49px;
  }
  .hereme_title:before {
    width: 184px;
  }
  .hereme_btn {
    margin: 67px 0 0 67px;
  }
  .news_learn-more-title {
    max-width: 306px;
    display: inline-block;
    padding: 0px 0 0px 0;
  }
  .photo_feedback {
    overflow: hidden;
  }
  .footer_bot-list {
    justify-content: space-around;
  }
  .hereme_input {
    width: 387px;
    }
  .form_forms-input {
    width: 387px;
  }
  .faq_background {
    font-size: 156px;
  }
  .people_background {
    text-align: center;
    position: absolute;
    top: 49%;
    font-weight: 600;
    font-size: 140px;
    line-height: 236px;
    color: #FFF4ED;
  }
  .vacancy_background {
    font-size: 88px;
  }
  .full-container {
    max-width: 97%;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

