@media screen and(min-width: 1500px) {
  .form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 50px;
  }
}
@media screen and(max-width: 1464px) {
  .header_menu-item-tel {
    margin: 0 55px 0 77px;
  }
}
@media screen and(max-width: 1430px) {
  .header_menu-item-tel {
    font-weight: 600;
    margin: 0 55px 0 77px;
  }
  .leftToolbar {
    border-right:none !important;

  }
  .service_title1:before {
    left: 0px;
  }
  .services500 {
    left: 0px;
  }
}
@media screen and(max-width: 1360px) {
  .vacancy_background {
    font-size: 150px;
  }
  .advantages_title:before {
    width: 357px;
  }
}
@media screen and(max-width: 1308px) {
  .header_menu-item-tel {
    margin: 0 28px 0 57px;
  }
  .menu-item-type-custom {
    list-style: none;
    margin: 0 15px;
  }
  //.swiper-container {
  //  width: 100%;
  //}
  //.slider-btn-left, .slider-btn-right {
  //  right: -8px;
  //}
  .leftToolbar {
    width: 70px!important;
  }
  //.people_slider-next span {
  //  left: -30px;
  //}
  //.people_slider-prev span {
  //  left: 17px;
  //}
}
@media screen and(max-width: 1254px) {
  .service_title1:before {
    left: 69px;
  }
  .service_title1:before {
    width: 131px;
  }
  .people_slider-prev span {
    left: -48px;
  }
  .people_slider-next span {
    left: 49px;
  }
}
// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {

  .slider-btn-left, .slider-btn-right {
    right: -64px;
  }
  .slider-btn-left {
    bottom: 0px;
  }
  .slider-btn-right {
    bottom: 97px;
  }
  .faq_text {
    display: inline;
  }
  .footer_end-text {
    padding: 0 0 0 0;
  }
  .header_menu-item-tel {
    margin: 0 17px 0 44px;
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 1071px) {
  .header_menu-item-tel {
    margin: 0 17px 0 24px;
  }
  .hero_title {
    font-size: 60px;
    margin: 109px 0 0 0;
  }
  .menu-item-type-custom {
    list-style: none;
    margin: 0px 10px;
  }
  .slider-btn-left, .slider-btn-right {
    width: 50px;
    right: -31px;
  }
}
@media (max-width: 992px) {
  .header_nav {
    display: flex;
    justify-content: space-between;
  }
  .service_title1:before {
    width: 257px;
  }
  .rules_ellipse {
    margin: 46px 0 0 0;
  }.services_end-block-item {
     margin: 0 0 30px 0;
   }
  .title {
    font-size: 30px;
    line-height: 49px;
  }
  .hereme_title:before {
    width: 184px;
  }
  .hereme_btn {
    margin: 67px 0 0 67px;
  }
  .news_learn-more-title {
    max-width: 306px;
    display: inline-block;
    padding: 0px 0 0px 0;
  }
  .photo_feedback {
    overflow: hidden;
  }
  .footer_bot-list {
    justify-content: space-around;
  }
  .hereme_input {
    width: 387px;
    }
  .form_forms-input {
    width: 387px;
  }
  .faq_background {
    font-size: 156px;
  }
  .people_background {
    text-align: center;
    position: absolute;
    top: 49%;
    font-weight: 600;
    font-size: 140px;
    line-height: 236px;
    color: #FFF4ED;
  }
  .vacancy_background {
    font-size: 88px;
  }
  .full-container {
    max-width: 97%;
  }
  .footer_center {
    padding: 0px 0 0 0px;
  }
  .footer_right-list {
    padding: 38px 0 0 0;
  }
  .header_menu {
    opacity: 0;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
//.result_item-title, .result_item-text {
//  display: inline;
//}
  .result_item-title {
    padding: 0 0 0 0;
  }
  .result_item-block {
    padding: 0 0 50px 14px;
  }
  .news_learn-more-title {
    display: block;
  }
  .footer_bot-list {
    display: inline-block;
  }
  .footer_bot-item {
    padding: 0 0 10px 0;
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .hero_title {
    margin: 40px 0 0 0;
  }
  .hero_sub-title {
    padding: 0px 0 40px 0;
  }
  .hero {
    padding: 0 0 80px 0;
  }
  .about {
    padding: 80px 0 80px 0;
  }
  .about_title:before {
    width: 311px;
  }
  .service_title {
    text-align: center;
    color: #000;
    padding: 87px 0 40px 0;
    font-size: 40px!important;
  }
  .service_title1:before {
    top: 119px;
  }
  .rules_ellipse {
    display: inline-block;
  }
  .rules_second-title {
   display: inline-block;
    padding: 64px 0 0 0;
  }
  .hereme_text {
    padding: 13px 0 0 0;
  }
  .hereme_btn {
    width: 283px;
    margin: 40px 0 0 0px;
  }
  .vacancy {
    padding: 80px 0 150px 0;
  }
  .vacancy_title {
    padding: 0 0 28px 0;
    &:before {
      content: '';
      position: absolute;
      display: inline-block;
      left: 161px;
      z-index: -1;
      top: 29px;
      height: 17px;
      width: 216px;
      background: #F4D7C4;
    }
  }
  .vacancy_btn {
    max-width: 344px;
  }
  .result {
    padding: 80px 0 30px 0;
  }
  .result_text {
    padding: 32px 0 27px 0;
  }
  .steps {
    padding: 98px 0 80px 0;
  }
  .steps_title:before {
    width: 232px;
  }
  .advantages_title {
    padding: 80px 0 20px 0;
    position: relative;
    z-index: 0;
  }
  .advantages_title:before {
    top: 108px;
  }
  .faq {
    padding: 35px 0 108px 0;
  }
  .faq_box {
    padding: 54px 0 0 0;
  }
  .faq_title:before {
    content: '';
    position: absolute;
    display: inline-block;
    left: 123px;
    z-index: -1;
    top: 29px;
    height: 17px;
    width: 306px;
    background: #F4D7C4;
  }
  .test_title:before {
    width: 252px;
  }
  .test {
    padding: 80px 0 20px 0;
    background: #FBF6F4;
  }
  .slider_item-slide-thumb {
    width: 96%;
    margin-left: 2%;
  }
  .people {
    padding: 73px 0 56px 0;
  }
  .people_title:before {
    content: '';
    position: absolute;
    display: inline-block;
    left: 123px;
    z-index: -1;
    top: 29px;
    height: 17px;
    width: 296px;
    background: #F4D7C4;
  }
  .news_item {
    padding: 1px 0 25px 0;
  }
  .news_item {
    padding: 1px 0 25px 0;
  }.news_title {
     padding: 0px 0 38px 0;
   }
  .news_learn-more-title {
    max-width: 1006px;
  }
  .news {
    padding: 80px 0 93px 0;
  }
  .feedback {
    padding: 60px 0 60px 0;
  }
  .feedback_titleOne:before {
    content: '';
    position: absolute;
    display: inline-block;
    left: 0;
    z-index: -1;
    top: 30px;
    height: 17px;
    width: 155px;
    background: #F4D7C4;
  }
  .form {
    padding: 0px 0 150px 0;
  }
  .form_forms-btn {
    width: 343px;
  }
  .footer_center {
    padding: 12px 0 0 12px;
  }
  .footer_right-list {
    padding: 42px 0 0 0;
  }
  .rules {
    padding: 80px 0 152px 0;
  }
  .rules_text {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    padding: 0px 0 31px 0;
  }
  .prices {
    padding: 80px 0 194px 0;
  }
  .prices_text {
    padding: 0 0 0 0;
  }
  .background-padding_hereme {
    padding: 80px 0 80px 0;
  }
  .header_menu-item a {
    font-size: 14px;
  }
  .header_menu-item-logo {
    max-width: 100px;
  }
  .header {
    background: var(--lightText);
    padding: 15px 0 0 0;
  }
  .header_menu-item-tel {
    margin: 0 0 0 10px;
  }
  .header_menu-item img {
    max-width: 70px;
  }
  .modal_input {
    width: 218px!important;
  }
  .form {
    padding: 0px 0px 150px 30px;
  }
  .hereme_input {
    width: 305px;
  }
  .form_forms-input {
    width: 281px;
  }
  .form_forms-btn {
    width: 300px;
    margin: 0 0 0 0;
  }
  .form_title:before {
    width: 309px;
  }
  .news_title:before {
    width: 302px;
  }
  .people_title:before {
    width: 205px;
  }
  .faq_title:before {
    width: 222px;
  }
  .prices_title:before {
    width: 325px;
  }
  .service_title1:before {
    width: 187px;
  }
  .vacancy_title:before {
    width: 177px;
  }
  .advantages_title:before {
    width: 294px;
  }
  .services500 {
    left: -62px;
  }
  .modal_title:before {
    width: 150px!important;
  }
  .modal__btn {
    margin: 0 0 0 0 !important;
  }
  label:before {
    margin-right: 0px!important;
  }
  .vacancy_tabs-item {
    font-size: 16px;
  }
  .header {
    overflow: hidden!important;
  }
  .hero {
    overflow: hidden!important;
  }
  .about {
    overflow: hidden!important;
  }
  .service {
    overflow: hidden!important;
  }
  .rules {
    overflow: hidden!important;
  }
  .prices {
    overflow: hidden!important;
  }
  .vacancy {
    overflow: hidden!important;
  }
  .result {
    overflow: hidden!important;
  }
  .steps {
    overflow: hidden!important;
  }
  .advantages {
    overflow: hidden!important;
  }
  .faq {
    overflow: hidden!important;
  }
  .people {
    overflow: hidden!important;
  }
  .test {
    overflow: hidden!important;
  }
  .news {
    overflow: hidden!important;
  }
  .feedback {
    overflow: hidden!important;
  }
  .footer {
    overflow: hidden!important;
  }
  .form {
    overflow: hidden!important;
  }
  .form_title:before {
    display: none!important;
  }
}
