.prices {
  padding: 160px 0 194px 0;
}
.prices_text {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  padding: 62px 0 0 0;
}
.services_end-block {
  padding: 76px 0 0 0;
}
.services_end-block {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}
.services_end-block-text {
  padding: 0 0 55px 55px;
}