.test {
  padding: 153px 0 105px 0;
  background: #FBF6F4;
}
.test_text {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: var(--darkText);
  padding: 59px 0 59px 0;
}
.test_item-title {
  font-weight: bold !important;
  font-size: 16px;
  line-height: 150%;
  color: var(--darkText);
}
.test_item-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: var(--darkText);
}
.test_item {
  padding: 0 80px 64px 0;
}
.test_title {
  position: relative;
  z-index: 0;
}
.test_title {
  &:before {
    content: '';
    position: absolute;
    display: inline-block;
    left: 0;
    z-index: -1;
    top: 30px;
    height: 17px;
    width: 566px;
    background: #F4D7C4;
  }
}